#SPDX-License-Identifier: MIT-0
---
# tasks file for maven

- name: Install Maven
  ansible.builtin.apt:
    name: "{{ item }}"
    state: latest
    update_cache: yes
  loop: 
    - default-jdk
    - maven